* {
    margin: 0;
    padding: 0;
}

#smallDisplay {
    display: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1D1D1D;
    color: #FFE1C8;
    
}

nav h1 {
    font-family: 'Halant', cursive;
    font-weight: 400;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 2%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

nav ul li{
    list-style-type: none;
    font-size: 1.563rem;
    font-weight: 300;
    font-style: italic;
    
}

nav a {
    color: #FFF;;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 15px;
}

.gallery a {
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.gallery a:hover {
    color: #fff;
}

.card {
    width: 18rem;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    border: 0;
}

.card .card-body {
    background-color: #596B5F;
    color: #FFE1C8;
}

img {
    height: 187px;
    width: 285px;
    object-fit: cover;
}

.ratings {
    font-weight: 400;
    font-size: 1.25em;
    margin: 0;
}

.restName {
    font-size: 1.5em;
    font-family: 'Halant', cursive;
    font-weight: 400;
    margin: 0;
}

.location {
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
}

/* For mobile view */
@media screen and (max-width: 576px) {
    body {
        font-family: 'Nunito Sans', sans-serif;
        color: #FFE1C8;
    }

    #smallDisplay {
        display: block;
        background-color: #1D1D1D;
        padding: 0;
    }

    #largeNavBar {
        display:  none;
    }

    .gallery {
        margin-top: 70px;
    }

    #title {
        font-family: 'Halant', cursive;
        font-weight: 400;
        font-size: 2.441rem;
    }

    h5 {
        font-family: 'Halant', cursive;
        font-size: 2rem;
    }

    ul li {
        font-size: 1em;
    }
}