* {
    margin: 0;
    padding: 0;
}

#smallDisplay {
    display: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1D1D1D;
    color: #FFE1C8;
    
}

nav h1 {
    font-family: 'Halant', cursive;
    font-weight: 400;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 2%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

nav ul li{
    list-style-type: none;
    font-size: 1.563rem;
    font-weight: 300;
    font-style: italic;
    
}

nav a {
    color: #FFF;;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 0 5%;
}

.description {
    background-color: #596B5F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    margin-bottom: 3%;
}

.description .content {
    padding: 5%;
}

.description .content h1 {
    font-weight: 600;
}

.description .content p {
    margin: 0;
    font-size: 1.25em;
}

.description .content-img img {
    height: 100%;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 15px 0;
}  
  
.text {
    text-align: center;
    position: relative;
    padding: 0 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    font-family: 'Inter', sans-serif;
}

.text h2 {
    font-weight: 600;
}

.text p {
    font-weight: 400;
    font-style: italic;
}

.restPhoto {
    display: flex;
    flex-flow: column wrap;
    border: 0;
    position: relative;
    margin-bottom: 2%;
}

.restPhoto img {
    height: 380px;
    width: 333px;
    object-fit: cover;
    display: block;
}

.restPhoto:hover .overlay {
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #183522;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

@media screen and (max-width: 745px) {
    .gallery {
        display: flex;
        justify-content: center;
    }
}

/* For mobile view */
@media screen and (max-width: 576px) {
    body {
        font-family: 'Nunito Sans', sans-serif;
        color: #FFE1C8;
    }

    #smallDisplay {
        display: block;
        background-color: #1D1D1D;
        padding: 0;
    }

    #largeNavBar {
        display: none;
    }

    #title {
        font-family: 'Halant', cursive;
        font-weight: 400;
        font-size: 2.441rem;
    }

    h5 {
        font-family: 'Halant', cursive;
        font-size: 2rem;
    }

    ul li {
        font-size: 1em;
    }

    .description {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }

    .gallery {
        display: flex;
        justify-content: center;
    }
}