* {
    margin: 0;
    padding: 0;
}

#smallDisplay {
    display: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1D1D1D;
    color: #FFE1C8;
    
}

nav h1 {
    font-family: 'Halant', cursive;
    font-weight: 400;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 2%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

nav ul li{
    list-style-type: none;
    font-size: 1.563rem;
    font-weight: 300;
    font-style: italic;
    
}

nav a {
    color: #FFF;;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#wrapper {
    margin: 0 5%;
}

.description {
    background-color: #596B5F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    margin-bottom: 3%;
}

.description .content {
    padding: 5%;
    margin: auto 0;
}

.description .content h1 {
    font-family: 'Halant', serif;
    font-size: 3.052rem;
}

.description .content h2 {
    margin: 0;
    font-size: 1.953rem
}

.description .content h3 {
    margin: 0;
    font-size: 1.563rem;
    font-weight: 300;
    font-style: italic;
}

.description .content p {
    margin: 0;
    font-size: 1.563rem;
}

.description .content-img img {
    height: 100%;
    object-fit: cover;
}

/* For mobile view */
@media screen and (max-width: 576px) {
    body {
        font-family: 'Nunito Sans', sans-serif;
        color: #FFE1C8;
    }

    #smallDisplay {
        display: block;
        background-color: #1D1D1D;
        padding: 0;
    }

    #largeNavBar {
        display:  none;
    }


    #title {
        font-family: 'Halant', cursive;
        font-weight: 400;
        font-size: 2.441rem;
    }

    ul li {
        font-size: 1em;
    }

    .description {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }

    .description .content h1 {
        font-size: 1.953em;
    }
    
    .description .content h2 {
        font-size: 1.25em;
    }
    
    .description .content h3 {
        font-size: 1em;
    }
    
    .description .content p {
        font-size: 1em;
    }
}